# Baby Leave Planner Specific Environment Variables

# The name of the database collection used for this tool
BABY_LEAVE_PLANNER_DB_NAME=baby-leave-planner

# Access PIN for the tool (fallback is '1234' if not set)
BABY_LEAVE_PLANNER_PIN=1234
