# PIN de acceso exclusivo para la herramienta de evaluación de ofertas
JOB_OFFER_EVALUATOR_PIN=7777

# Nombre de la base de datos en MongoDB
JOB_OFFER_EVALUATOR_DB_NAME=job-offer-evaluator

# Lista de emails de Google con acceso directo
JOB_OFFER_EVALUATOR_ALLOWED_USERS=
