# -----------------------------------------------------------------------------
# BABY WEIGHT TRACKER MODULE ENVIRONMENT VARIABLES
# -----------------------------------------------------------------------------
# The PIN to lock access to this tool specifically (when not using Google OAuth)
BABY_WEIGHT_TRACKER_PIN=1234

# The name of the MongoDB database for this tool's data persistence
BABY_WEIGHT_TRACKER_DB_NAME=baby-weight-tracker
